{% extends "base.html" %}

{% load static %}

{% block content %}
<!-- Navigation-->
{% include "partial/partnav.html" %}

<!-- 변호사 소개 -->
<section class="page-section" id="aa_members">
    <div class="container px-4 px-lg-5" id="members_container">
        <h2 class="text-center mt-0">변호사 소개</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2">
                        <a href="#lawyer_1">
                            <img class="img-fluid" src="{% static 'assets/img/profile/jimmy.jpg' %}" alt="..." />
                        </a>
                    </div>
                    <h3 class="h4 mb-2">지미 맥길</h3>
                    <p class="text-muted mb-0">대표변호사</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2">
                        <a href="#lawyer_2">
                            <img class="img-fluid" src="{% static 'assets/img/profile/kim.jpg' %}" alt="..." />
                        </a>
                    </div>
                    <h3 class="h4 mb-2">킴 웩슬러</h3>
                    <p class="text-muted mb-0">구성원 변호사</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2">
                        <a href="#lawyer_3">
                            <img class="img-fluid" src="{% static 'assets/img/profile/howard.jpg' %}" alt="..." />
                        </a>
                    </div>
                    <h3 class="h4 mb-2">하워드</h3>
                    <p class="text-muted mb-0">구성원 변호사</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section" id="lawyer_1">
    <div>지미맥길</div>
</section>
{% endblock %}