{% extends "base.html" %}

{% block content %}
<!-- Navigation-->
{% include "partial/mainnav.html" %}
<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">BETTER CALL SAUL</h1>
                {% comment %} <h1 class="text-white font-weight-bold">DEDICATION TO CLIENTS</h1> {% endcomment %}
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5">Speedy Justice For You</p>
                <p class="text-white-75 mb-5">진심을 담은 법률 서비스로 고객이 원하는 최선의 결과를 이끌어 내겠습니다</p>
                <!-- <a class="btn btn-primary btn-xl" href="#about">Find Out More</a> -->
            </div>
        </div>
    </div>
</header>
<!-- About-->
<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">We've got what you need!</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">Start Bootstrap has everything you need to get your new website up and
                    running in no time! Choose one of our open source, free to download, and easy to use themes! No
                    strings attached!</p>
                <a class="btn btn-light btn-xl" href="#services">Get Started!</a>
            </div>
        </div>
    </div>
</section>

<!-- 업무 분야 -->
<section class="page-section" id="workscopes">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0"><strong>업무 분야</strong></h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-people-fill fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">민사</h3>
                    <p class="text-muted mb-0">오랜 기간 축적된 풍부한 경험과 전문지식을 바탕으로 최상의 결과를 보장합니다.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-person-badge-fill fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">형사</h3>
                    <p class="text-muted mb-0">10년 이상 경력의 형사 전문 변호사가 경찰 단계부터 검찰 단계, 법원 단계에 이르기까지 신속하게 대응하여 최적의 결과를 이끌어
                        냅니다.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-house fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">가사</h3>
                    <p class="text-muted mb-0">가사 사건의 특수성을 잘 이해하여 민감한 사안에서도 최적의 솔루션을 제공합니다. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-flag fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">행정</h3>
                    <p class="text-muted mb-0">정부 부처 출신 변호사가 고유의 노하우와 경험으로 최적의 솔루션을 제공합니다.</p>
                </div>
            </div>

        </div>
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">금융</h3>
                    <p class="text-muted mb-0">대형로펌 출신의 변호사가 국내 굴지의 회사와 금융기관에 대한 자문 경험을 바탕으로 정확하고 신속한 자문을 제공합니다. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">M & A</h3>
                    <p class="text-muted mb-0">국내외 다수 회사 간 M&A 자문 경험을 바탕으로 신속&#183;정확하게 종합적인 자문을 제공합니다.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">기업자문</h3>
                    <p class="text-muted mb-0">10년 이상의 경력을 가진 기업 전문 변호사가 국내&#183;외 고객의 수요에 따라 맞춤 서비스를 제공합니다.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-building fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">건설&#183;부동산</h3>
                    <p class="text-muted mb-0">다수의 건설 회사 자문 경험과 부동산 투자 관련 자문 경험을 바탕으로 고객이 필요로 하는 솔루션을 제공합니다.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container px-4 px-lg-5">
</section>

<!-- Call to action-->
<section class="page-section bg-dark text-white">
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mb-4">Free Download at Start Bootstrap!</h2>
        <a class="btn btn-light btn-xl" href="https://startbootstrap.com/theme/creative/">Download Now!</a>
    </div>
</section>
<section class="page-section" id="firm_map">
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mb-3"><strong>오시는 길</strong></h2>
        <hr class="divider" />
        <iframe class="mt-3 mb-5 border-top border-dark border-2"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3165.5221316511456!2d127.00902939454312!3d37.49560171544001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca1692bde86d1%3A0xf2150855542128b4!2z64Sl7Iqk7Yq4642w7J207ISc7LSIMe2YuOygkA!5e0!3m2!1sko!2skr!4v1659878050056!5m2!1sko!2skr"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
        <div class="row gx-4 gx-lg-5 justify-content-center ">
            <div class="col-lg-8 col-xl-6 border-top border-dark border-2">
                <table class="table">
                    <tbody>
                        <tr class="px-2">
                            <th scope="row"> 주소</td>
                            <td style="text-align:left"> 서울특별시 서초구 서초중앙로 156 블루원빌딩</td>
                        </tr>
                        <tr>
                            <th scope="row"> 대중교통</td>
                            <td style="text-align:left"> 2, 3호선 교대역 6번 출구 도보 3분<br> (법원 동문 앞 맞은 편 도보 1분) </td>
                        </tr>
                        <tr>
                            <th scope="row"> 자동차</td>
                            <td style="text-align:left"> 주차 가능</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</section>

<!-- Footer-->
{% include "partial/footer.html" %}
</footer>

{% endblock content %}