{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- Navigation-->
{% include "partial/partnav.html" %}

<!-- 업무 분야 -->
<section class="page-section" id="workscopes">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0"><strong>업무 분야</strong></h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-people-fill fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">민사</h3>
                    <p class="text-muted mb-0">오랜 기간 축적된 풍부한 경험과 전문지식을 바탕으로 최상의 결과를 보장합니다.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-person-badge-fill fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">형사</h3>
                    <p class="text-muted mb-0">10년 이상 경력의 형사 전문 변호사가 경찰 단계부터 검찰 단계, 법원 단계에 이르기까지 신속하게 대응하여 최적의 결과를 이끌어
                        냅니다.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-house fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">가사</h3>
                    <p class="text-muted mb-0">가사 사건의 특수성을 잘 이해하여 민감한 사안에서도 최적의 솔루션을 제공합니다. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-flag fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">행정</h3>
                    <p class="text-muted mb-0">정부 부처 출신 변호사가 고유의 노하우와 경험으로 최적의 솔루션을 제공합니다.</p>
                </div>
            </div>

        </div>
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">금융</h3>
                    <p class="text-muted mb-0">대형로펌 출신의 변호사가 국내 굴지의 회사와 금융기관에 대한 자문 경험을 바탕으로 정확하고 신속한 자문을 제공합니다. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">M & A</h3>
                    <p class="text-muted mb-0">국내외 다수 회사 간 M&A 자문 경험을 바탕으로 신속&#183;정확하게 종합적인 자문을 제공합니다.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">기업자문</h3>
                    <p class="text-muted mb-0">10년 이상의 경력을 가진 기업 전문 변호사가 국내&#183;외 고객의 수요에 따라 맞춤 서비스를 제공합니다.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-building fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">건설&#183;부동산</h3>
                    <p class="text-muted mb-0">다수의 건설 회사 자문 경험과 부동산 투자 관련 자문 경험을 바탕으로 고객이 필요로 하는 솔루션을 제공합니다.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container px-4 px-lg-5">
</section>

{% endblock %}